<div class="row">
    <div class="col-3">
        <p *ngFor="let city of cityList"> {{city}}</p> 
    </div>
    <div class="col-3"> 
        <input type="text" [(ngModel)]="city" placeholder="Entre City"> 
        <button class="btn btn-success" (click)="saveCity()">Save City</button>
    </div>
    <div class="col-3">
        <span *ngFor="let cityName of cityList"> {{cityName}} </span>
    </div>
    <div class="col-3">
        <select name="" id="" >
            <option value="" *ngFor="let city of cityList">
                 {{city}}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <table class="table table-bordered">
            <tr>
                <th>Sr No</th>
                <th>ROll No</th>
            </tr>
            <tr *ngFor="let rollno of rollNoArray; let sr = index">
                <td>{{sr+1}}</td>
                <td >{{rollno}}</td>
            </tr>
        </table>
    </div>
    <div class="col-3">
        <div class="bg-danger m-2" *ngFor="let rol of rollNoArray">
             {{rol}}</div>
    </div>
    <div class="col-3">
        <table class="table table-bordered">
            <tr>
                <th>Sr No</th> <th>Name</th> <th>Age</th>  <th>Hobby</th>
            </tr>
            <tr *ngFor="let student of studentList;let sr = index">
                <td>{{sr+1}}</td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.hobby}}</td>
            </tr>
        </table>
    </div>
</div>

