<!-- <app-alert-box [alertMessage]="'Welcome to Canidate Page'" [messaeType]="'success'">
    
</app-alert-box>
<app-my-slider></app-my-slider>
   -->
<!-- <app-group-buttons (tabChanged)="onTabChange($event)"
 [tabs]="['Basic Details','Family Details','Office Details']">
</app-group-buttons>

<div class="p-5" *ngIf="currentrTab == 'Basic Details'">
    Basic Details Div
</div>
<div class="p-5" *ngIf="currentrTab == 'Family Details'">
    Family Details Div
</div>
<div class="p-5" *ngIf="currentrTab == 'Office Details'">
    Office Details Div
</div> -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-success text-white">
                <div class="row">
                    <div class="col-6">   Canidate List</div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary btn-sm" routerLink="/addCandidate">Add New</button>
                    </div>
                </div>
             
            </div>
            <div class="card-body">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>Contact No</th>
                            <th>Date</th>
                            <th>Email</th>
                            <th>College Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of candidateArray;let sr= index">
                            <td>{{sr+1}}</td>
                            <td>{{item.name |uppercase| slice:0:5}}</td>
                            <td>{{item.contactNo}}</td>
                            <td>{{item.createdDate | date:'dd-MMM-yyyy'}}</td>
                            <td>{{item.email | na:'No Mail Found'}}</td>
                            <td>{{item.collegeName | na:'NA'}}</td>
                            <td>
                                <app-my-button  [btnClass]="'btn-sm btn-primary'" [btnText]="'Edit'"
                                    (onBtnClick)="onEdit(item.candidateId)"> </app-my-button>
                                <!-- <button class="btn btn-sm btn-primary" (click)="onEdit(item.candidateId)">Edit</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>